[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
motor = "*"
pydantic-settings = "*"
python-dotenv = "*"
pytest = "*"
pytest-asyncio = "*"
aiosqlite = "*"
httpx = "*"

[dev-packages]
pytest-asyncio = "*"

[requires]
python_version = "3.14"
